.about {
    background-color: #F76C6C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .me {
        height: 50%;
        width: auto;
    }
    .hi {
        color: #05052f; 
    }
}