.side {
    background-color: transparent;
    height: 100vh;
    width: 250px;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}