.App {
    height: 100vh;
    width: 100%;
    .components{
        background-color: red;
        width: 100%;
        height: 100vh;
        scroll-snap-type: y mandatory;

        > *{
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;
        }
    }
}
